$primary: rgb(81, 156, 195);
$secondary: rgb(240, 177, 85);
$success: rgb(164, 201, 92);

@import "bootstrap/scss/bootstrap.scss";

:root {
  --toastify-color-warning: rgb(240, 177, 85) !important;
  --toastify-color-success: rgb(164, 201, 92) !important;
  --toastify-color-info: rgb(81, 156, 195) !important;
}

.card {
  --bs-card-cap-bg: rgb(81, 156, 195);
  --bs-card-cap-color: white;
  --bs-card-border-color: lightgrey;
  &.card-warning {
    --bs-card-cap-bg: rgb(240, 177, 85);
  }
  &.task-card {
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: rgb(81, 156, 195);
  }
  &.add-task-card {
    .card-body {
      background: var(--bs-gray-200);
    }
  }
  &.no-file {
    background: var(--bs-gray-200);
    .card-body {
      background: var(--bs-gray-200);
      text-align: center;
    }
  }
  &.project-status {
    --bs-card-cap-bg: var(--bs-gray-100);
    svg.primary {
      height: 10rem;
      width: 10rem;
      margin-bottom: 1rem;
    }
    svg.secondary {
      height: 8rem;
      width: 8rem;
      margin-bottom: 1rem;
    }
  }
}

form {
  .form-label {
    // color: rgb(81, 156, 195);
    &[aria-required="true"]::before {
      content: "*";
    }
  }
}

.btn {
  --bs-btn-hover-color: white;
  --bs-btn-disabled-color: white;
  &.btn-primary,
  &.btn-secondary {
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
  }
  &.btn-link {
    --bs-btn-hover-color: $primary;
    &-primary {
      --bs-btn-color: $primary;
    }
    &-secondary {
      --bs-btn-color: rgb(240, 177, 85);
    }
  }
  &.show {
    --bs-btn-active-color: white;
  }
}

.navbar {
  --bs-navbar-brand-color: white;
  --bs-navbar-color: white;
  .navbar-nav {
    .nav-link {
      &.active {
        color: white;
        text-decoration: underline;
        text-decoration-color: rgb(240, 177, 85);
      }
    }
  }
}

.modal {
  .modal-header {
    background: rgb(81, 156, 195);
    .modal-title {
      color: white;
    }
  }
  .modal-body {
    max-height: 75vh;
    overflow-y: auto;
  }
}

a {
  color: rgb(81, 156, 195);
  &:hover,
  &:active {
    color: rgb(240, 177, 85);
  }
}

.react-pdf__Document {
  position: relative;

  &:hover {
    .pagination.pdf-page-controls {
      opacity: 1;
    }
  }
}

.pagination.pdf-page-controls {
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: white;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.2s;
  margin-bottom: 0;
}

svg {
  &.primary {
    fill: rgb(81, 156, 195);
    path {
      stroke: rgb(81, 156, 195);
    }
  }
  &.secondary {
    fill: rgb(240, 177, 85);
    path {
      stroke: rgb(240, 177, 85);
    }
  }
  &.success {
    fill: rgb(164, 201, 92);
    path {
      stroke: rgb(164, 201, 92);
    }
  }
  &.danger {
    fill: rgb(255, 99, 132);
    path {
      stroke: rgb(255, 99, 132);
    }
  }
  &.link {
    cursor: pointer;
  }
}

.project-dropdown.dropdown-toggle::after {
  display: none;
}
